.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom: .3em;
    font-weight: bold;
    font-size: .8em;
}

.form_control input {
    padding: .7em;
    border-bottom: 1px solid #9999;
    border-top: none;
    border-left: none;
    border-right: none;
}


.form_control input:focus {
    outline: none;
}

.form_control input::placeholder {
    color: #7f7f7f;
}

